<img src="{{{imageURL}}}" draggable="false">
<h1>{{{title}}}</h1>
{{#if userId}}
    <p>By:{{{userId}}}</p>
{{else}}
    <p>By: Anonymous</p>
{{/if}}
<p>Created at: {{creationDate}}</p>
{{#if rating}}
    <p>Rating: {{rating}}</p>
{{else}}
    <p>No ratings yet</p>
{{/if}}
{{#if desc}}
    <p>Description: {{{desc}}}</p>
{{/if}}
{{!-- TODO tags currently cant be hidden as the hbs thinks the array of empty strings should be rendered}--}
{{!-- {{#each tags}}
    <p>Tags:{{{tags}}}</p>
{{else}}

{{/each}} --}}