<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{>header}}
    {{!-- <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col">
                <h1>ArtGal</h1>
                <p>Welcome to ArtGal</p>
            </div>
        </div>
    </div> --}}
    <div class="container" style="margin-top:20px">
        <div class="row">
            <div class="col">
                {{#unless listDrawings}}
                    <h3>There's no content here! You probably went past the page count.</h3>
                    <a href="/"><h5>Go Back</h5></a>
                {{/unless}}
                {{#each listDrawings}}
                    <div class="drawingDiv rounded">
                        <div class="d-flex bd-highlight justify-content-left mb-3">
                            <div class="thumbnail">
                                <div>
                                    <a href="{{url}}">
                                        <img class="rounded" src="{{{imageURL}}}" width="70%" draggable="false"/>
                                    </a>
                                </div>
                            </div>
                            <div>
                                {{!--Can either use {{property}} or {{this.property}}--}}
                                {{!-- use triple-stache to decode or unescape sanitized html--}}
                                <a href="{{url}}"><h2><b>{{{title}}}</b></h2></a>
                                {{!--Insert username here when implemented--}}
                                <p>{{publicName}}</p>
                                <p>{{displayDate}}</p>
                                {{#if desc}}
                                    <p><i>- {{{desc}}}</i></p>
                                {{/if}}
                                {{!-- <p>{{commentCount}} Comment(s)</p> --}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="col-3 d-none d-md-block drawingDiv rounded">
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseAbout" role="button" aria-expanded="false" aria-controls="collapseExample">
                    About
                </a>
                <div class="collapse" id="collapseAbout">
                    <div class="card card-body">
                        <p>
                            This is a pet project I have been working on for a while now.
                            It's a simple social media like web app where the primary content consists of simple drawings.
                            The backend uses NodeJS. While there are elements I would like to further work on, the site in it's
                            current state is functional. Anyone is free to view and post submissions, simply login with Google+
                            to post comments/submissions. 
                        </p>
                    </div>
                </div>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseRules" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Rules
                </a>
                <div class="collapse" id="collapseRules">
                    <div class="card card-body">
                        <ul>
                            <li>You must only use the given tools to make your drawing.</li>
                            <li>No offensive content.</li>
                            <li>Absolutely <b><i><u>ZERO</u></i></b> (0) dolphin drawings allowed.</li>
                            <li>Be decent in the comments, and in general.</li>
                            <li>I can make any new rule if I forget something.</li>
                            <li>You can be banned for infracting any of the above rules.</li>
                        </ul>
                    </div>
                </div>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseContact" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Contact
                </a>
                <div class="collapse" id="collapseContact">
                    <div class="card card-body">
                        <p>
                            <a href="https://github.com/ChrisChrisLoLo">Made by Christian Lo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="pageControlRow">
            <div class="col">
                <div class="d-flex">
                    {{#unless isFirstPage}}
                        <div class="mr-auto p-2">
                            <button class="btn btn-primary" onclick="prevPage()">prev</button>
                        </div>
                    {{/unless}}
                    {{#unless isLastPage}}
                        <div class="ml-auto p-2">
                            <button class="btn btn-primary" onclick="nextPage()">next</button>              
                        </div>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="/javascripts/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
